.navbar-brand-custom {
    color: #e50042 !important; /* Color rojo de change.org */
    font-weight: 800;
    font-family: Arial, sans-serif !important;
  }

.panel1{
  background-image: url('https://static.change.org/homepageV3/background-globe-sunrise.svg');
}

.tituloPrincipal{
    font-size: 325%;
    font-weight: 700 !important;
    color: rgb(56, 56, 56);
}

.tituloPrincipal2{
    font-size: 450%;
    font-weight: 700 !important;
    color: rgb(56, 56, 56);
}

.tituloPrincipal3{
    font-size: 250%;
    font-weight: 700 !important;
    color: rgb(56, 56, 56);
}

.subtitulo{
    font-size: 160%;
    font-weight: 700 !important;
    color: rgb(56, 56, 56);
}

.parrafoL{
  width: 350px;
  
}

.btn-primary{
  background-color: #f8e74a  !important;
  border-color: #ccc !important;
  color: black !important;
  font-weight: 500 !important; 
  padding: 10px !important;
}

.btn-petition {
  font-weight: 600 !important;
  border-color: #636262 !important; 
  padding: 10px !important;
}

.btn-petition:hover {
  background-color: #f8f9fa; 
}

.nav-item{
  font-weight: 600 !important;
}

.u-shape-wrapper .card {
  margin-bottom: 1rem;
}

.u-center-content {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  height: 500px !important;
  align-content: center !important;
}

.carousel-item{
  border: none !important;
}

.cardU{
  border: none !important;
  background: transparent !important;
  
}

.card-bodyU{
  border: solid 1px #eee9e9 !important;
  border-radius: 30px !important;
  padding: 5px !important;
  padding-top: 8px !important;
  background-color: #faf6f6 !important;
}


.panel2{
  height: 200px;
}

.btn-categorias {
  font-weight: 600 !important;
  border-color: #3b4fff !important; 
  padding: 10px !important;
  color: #3b4fff !important;
}

.dropzone-wrapper {
  border: 2px dashed #dee2e6; 
  border-radius: 0.5rem; 
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}